* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.btn_char {
  width: 50%;
  margin: auto;
  border-radius: 30px;
  font-size: 15px;
}
/* .character-card {
  width: 100%;
} */
/* .upper-container-character {
  height: 100px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #2d00f7, #ff0291);
}

.upper-container-character img {
  background: white;
  padding: 5px;
  transform: translate(0px, 45px);
  border: 2px solid #c90a90;
}

.lower-container-character {
  margin-top: 60px;
  background: white;
  text-align: center;
}
.lower-container-character h3 {
  color: #2f2d2e;
  font-weight: 600;
  font-size: 1.5rem;
} */
