* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main1 {
  background-color: rgb(201, 157, 241);
  /* height: 100vh; */
}
.navbar .navbar_heading h3 {
  text-align: center;
}
.navbar_episode {
  background: rgb(245, 135, 203);
}

/* .upper-container {
  height: 100px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, #2d00f7, #ff0291);
}

.upper-container img {
  background: white;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #c90a90;
  transform: translate(0px, 45px);
}

.lower-container {
  margin-top: 60px;
  background: white;
  text-align: center;
}
.lower-container h3 {
  color: #2f2d2e;
  font-weight: 600;
  font-size: 1.5rem;
} */

/*
.heading {
  padding: 5px;
  font-size: 30px;
} */
